//colors
$primary: rgb(31, 48, 68);
$secondary: rgb(251, 144, 57);
$background:rgb(100, 108, 121);

//fonts
$text-font: ('Work Sans', sans-serif);
$heading-font: ('Nanum Myeongjo', serif);
$logo-font: ('Courgette', cursive);
