//Book Details Styles

.details {
  width: 100%;
  display:grid;
  justify-items:center;
  grid-gap:20px;
  grid-template-columns: 300px auto;
  grid-template-areas: 
  "picture title"
  "public title";

  img{
    grid-area: picture;
    grid-row: 1;
    grid-column: 1/2;
    margin-top: 25px;
    width: 300px;
    height: 470px; 
  }

  .book-info{
    grid-area: title;
    grid-row: 1/span 2;
    grid-column: 2/3;
  }

  .publication-info{
    grid-area: public;
    grid-row: 2;
    grid-column: 1/2;

    hr{
      border: 1px solid $secondary;
    }
  }
}

@media screen and (min-width: 768px) {
  .details{
    width: 90%;
    grid-template-columns: 350px auto;
  }
}