//Base Styles

html{
    box-sizing: border-box;
  }

*, *::before, *::after {
    box-sizing: inherit;
  }

body {
  margin: 0;
  background: #fff;
  font-family: $text-font;
  font-weight: 400;
}
h2, h3 {
  font-family: $heading-font;
}